
.header{
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.menu{
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    gap: 18px;
}

.mid-head{
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.introduction{
    height: 450px;
    width: 300px;
    text-align: justify;
    margin-left: 5cm;
    color: #fff;

}
.introduction h2{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.introduction p{
    font-size: 18px;
    color: #e5e7eb;
}

.doggo{
    height: 250px;
    width: 500px;
    margin: 85px 100px 0px 0px;

}

.button{
    background-color: #3882f6;
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.title{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

.container{
    display: flex;
    justify-content: center;
}

.illustration{
    display: flex;
    justify-content: space-between;
}

.dog{
    max-width:250px;
    height: 150px;
    border: 1px rgb(4, 57, 182) solid;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.text{
    text-align: center;
    gap: 18px;
    padding-left: 15px;
}

.quote{
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 300px;
    width: auto;
    padding-top: 50px;
}

.author{
    text-align: end;
}

.notification{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color:#E5E7EB;
    font-size: 36px;
    margin:50px 200px 20px 200px;
    border-radius: 15px;
    height: 170px;
}

.footer{
    text-align: center;
    background: #1f2937;
    color: #fff;
    height: 75px;
    padding-top: 25px;
}