
.header{
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.logo{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

.menu{
    display: flex;
    align-self: flex-end;
    text-decoration: none;
    list-style-type: none;
    gap: 18px;
}

.mid-head{
    background: #1f2937;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.introduction{
    height: 0px;
    width: 400px;
}
.eagle{
    height: 250px;
    width: 350px;
    margin-top: 20px;
}

a{
    color: #fff;
}
